* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
  background-color: #deeef5;
}
header{
    background-color: #e9432f;
    padding-left: 90px;
    height: 70px;
    display: flex;
}
header h3{
    color: #fff;
    font-size: 25px;
    margin-top: 30px;
}
.navigation{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-left: 40px;
    font-family: sans-serif;
    color: white;
}
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: 20px   ;
}
.icon{
    position: relative; /* This allows the badge to sit on top */
    font-size: 24px;
    margin-bottom: 5px;
}
.badge {
  position: absolute;
  top: -5px;
  right: -12px;
  background-color: #42a5f5; /* Light blue */
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 3px;
  border: 1px solid rgba(255,255,255,0.3);
}   
.label {
  font-size: 14px;
  font-weight: 600;
}
.search-container{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.search-input{
    border-radius: 8px;
    border: none;
    padding: 8px 10px 8px 35px;
    width: 250px;
    height: 35px;
    outline: none;
    box-shadow: -2px 10px 5px rgba(32, 32, 32, 0.5);
}
.fa-magnifying-glass{
    position: absolute;
    left: 10px;
    color: #42a5f5; /* Light blue icon */
    font-size: 16px;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Makes it a circle */
  border: 1px solid white;
  margin-bottom: 2px;
  margin-top: 15px;
}
.refresher-btn {
  background-color: white;
  color: #e53935; /* Red text */
  border: none;
  padding: 8px 20px;
  border-radius: 20px; /* Pill shape */
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin: 15px 40px;
  height: 40px;
}
.grid-icon {
  font-size: 20px;
  color: white;
  margin-bottom: 4px;
}
.me-label{
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.nav-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: 20px ;
    margin-top: 20px;
}
.nav-switch .label{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
main{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 15px;
  margin-top: 15px;
}
.first-div{
  padding-left: 90px;
}
.background-pic{
  width: 250px;
  height: 100px;
}
.profile-pic{
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 2px;
  border-color: #fff;
  margin-left: -175px;
  margin-top: 50px;
}
.img-icon{
  position: absolute;
  color: #fff;
  margin-left: -175px;
}
.kalisa{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  text-align: center;
}
.fa-message{
  color: #35a8df;
  margin-left: 110px;
  width: 20px;
  height: 20px;
}
.briefly{
  color: #000000;
  text-align: center;
  font-size: 14px;
}
.stats-container{
  display: flex;
  margin-left: 90px;
  margin-top: 30px;
}
.stat-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  font-size: 15px;
}
.fa-briefcase, 
.fa-eye, 
.fa-comments, 
.fa-star, 
.fa-shop,
.fa-user-check,
.fa-grid{
  font-size: 18px;
  margin-right: 15px;
  color: #35a8df;
  width: 25px;
  text-align: center;
}
.stat{
  flex-grow: 1;
  text-align: left;
}
.numb{
  color:#35a8df;
  font-weight: bold;
}
.break{
  border: 0;
  border-top: 1px solid #cce3f5;
  margin: 20px 0;
}
.head-two{
  text-align: center;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 30px;
}
.second{
  padding-left: 90px;
}
.back-pic{
  width: 250px;
  height: 50px;
}
.front-pic{
  position: absolute;
  width: 60px;
  height: 50px;
  border: 2px solid #fff;
  margin-left: -250px;
  margin-top: 25px;
}